.header {

    // position: fixed;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    &__title {
        display: block;
        font-weight: bold;
        box-sizing: border-box;
        font-size: 2.5rem;
    }

    &__surname {
        color: $pink;
    }
}

.navbar {

    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 1.5rem;

    &__links {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        display: inline-block;
        margin: 0.7rem 1rem;
    }

    &__link {
        text-decoration: none;
        color: black;

        &:hover {
            border-bottom: 3px solid $pink;
        }
    }
}