.project {
    width: 100%;
    height: auto;
    padding: 100px 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

    @media screen and (min-width: $desktop-size) {
        padding: 150px 100px;
    }
    
    &__container {
        max-width: $big-size;
        margin: 0 auto;
        height: auto;
        box-sizing: border-box;
        display: flex;
        
        @media screen and (max-width: $desktop-size) {
            flex-direction: column-reverse;
            padding: 0 50px;
        }
        
        @media screen and (min-width: $desktop-size) {
            height: 65vh;
        }

        @media screen and (max-width: $mobile-size) {
            padding: 0 20px;
        }
    }

    // every odd section is reversed description with showcase
    &:nth-child(2n+2) {
        .project__container {
            flex-direction: row-reverse;

            @media screen and (max-width: $desktop-size) {
                flex-direction: column-reverse;
            }
        }
    }

    &--mazesolver {
        padding-top: 0;
        padding-bottom: 0;

        .project__container {
            
            @media screen and (min-width: $desktop-size) {
                height: 80vh;
            }
        }
    }

    &--consquare {
        background-color: black;
        color: white;

        .project__title {
            margin: 2.5rem 0;
            font-weight: normal;
            font-family: OldLondon;

            font-size: 5.5rem;
            
            // @media screen and (min-width: $mobile-size) {
            //     // font-size: 3.5rem;
            // }
        }

        .project__info_container {
            @media screen and (min-width: $big-size) {
                margin-left: 200px;
            }
        }
    }

    &__description {
        line-height: 2;
        font-size: 1rem;
        margin: 0;
        
        @media screen and (max-width: $desktop-size) {
            width: 100%;
        }
        
        @media screen and (max-width: $mobile-size) {
            line-height: 1.5;
        }
        
        @media screen and (min-width: $big-size) {
            font-size: 1.2rem;
        }
    }

    &__image_container {
        width: 65%;
        display: flex;
        max-height: 100%;

        & img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }

        @media screen and (max-width: $desktop-size) {
            width: 100%;
            display: block;
        }
    }

    &__button {
        padding: 0.5rem 1rem;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
        background-color: rgba(255, 255, 255, 0.8);
        margin-right: 2rem;
        color: black;
        text-decoration: none;
        display: flex;
        align-items: center;
        line-height: 1.5;
        font-weight: 500;
        font-size: 0.8em;
        
        &:hover {
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
            background-color: white;
        }
        
        @media screen and (max-width: $desktop-size) {
            width: fit-content;
            margin-bottom: 20px;
        }
        
        @media screen and (min-width: $big-size) {
            font-size: 1rem;
            padding: 1rem 1.5rem;
        }
        
        svg {
            margin-right: 10px;
            height: 28px;
            width: auto;
        }
    }

    &__tags_container {
        display: block;
        margin: 35px 0 50px 0;
        width: 80%;

        @media screen and (max-width: $desktop-size) {
            width: 100%;
        }

        @media screen and (max-width: $mobile-size) {
            margin: 30px 0;
        }
    }

    &__button_container {
        display: flex;
    }

    &__info_container {
        width: 35%;
        padding: 0 50px;

        @media screen and (max-width: $desktop-size) {
            width: 100%;
            padding: 0;
        }
    }

    &__tag {
        display: inline-block;
        background-color: $pink;
        width: fit-content;
        padding: 8px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.9);
        border-radius: 4px;
        margin: 10px 7px 0 0;
        font-family: 'Rubik', sans-serif;

        font-size: 0.8em;

        @media screen and (min-width: $big-size) {
            font-size: 1em;
        }
    } 

    &__title {
        font-weight: 500;
        font-size: 3.5rem;

        @media screen and (max-width: $mobile-size) {
            font-size: 3rem;
            margin: 30px 0;
        }
    }
}