.project {
    width: 100%;
    height: auto;
    padding: 100px 0;
    // display: flex;


    &__container {
        max-width: $desktop-size;
        margin: 0 auto;
        height: auto;
        box-sizing: border-box;
        display: flex;


        @media screen and (max-width: $desktop-size) {
            flex-direction: column-reverse;
            padding: 0 50px;
        }

        @media screen and (max-width: $mobile-size) {
            padding: 0 20px;
        }
    }

    &:nth-child(2n+2) {
        .project__container {
            flex-direction: row-reverse;

            @media screen and (max-width: $desktop-size) {
                flex-direction: column-reverse;
            }
        }
    }

    &__button {
        padding: 1rem 1.5rem;
        border-radius: 10px;
        // border: 2px solid black;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
        background-color: rgba(255, 255, 255, 0.8);
        margin-right: 2rem;
        color: black;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        align-items: center;
        line-height: 1.5;

        &:hover {
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
            background-color: white;
        }

        @media screen and (max-width: $desktop-size) {
            width: fit-content;
            margin-bottom: 20px;
        }

        svg {
            margin-right: 10px;
            height: 28px;
            width: auto;
        }
    }

    &__tags_container {
        display: block;
        margin: 35px 0 50px 0;
        width: 80%;

        @media screen and (max-width: $desktop-size) {
            width: 100%;
        }

        @media screen and (max-width: $mobile-size) {
            margin: 30px 0;
        }
    }

    &__button_container {
        display: flex;

        @media screen and (max-width: $desktop-size) {
            flex-direction: column;
        }
    }

    &__info_container {
        width: 50%;

        @media screen and (max-width: $desktop-size) {
            width: 100%;
        }
    }


    &__tag {
        display: inline-block;
        background-color: $pink;
        width: fit-content;
        padding: 8px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.9);
        border-radius: 4px;
        margin: 10px 7px 0 0;

        @media screen and (max-width: $mobile-size) {
            font-size: 0.8rem;
        }
    }

    &__description {
        width: 80%;
        line-height: 2;
        font-size: 1.2rem;
        margin: 0;

        @media screen and (max-width: $desktop-size) {
            width: 100%;
        }

        @media screen and (max-width: $mobile-size) {
            font-size: 1rem;
            line-height: 1.5;
        }
    }

    &__image_container {
        width: 50%;
        display: flex;

        & img {
            margin: auto;
        }

        @media screen and (max-width: $desktop-size) {
            width: 100%;
        }
    }

    &__title {
        font-size: 3.5rem;

        @media screen and (max-width: $mobile-size) {
            font-size: 3rem;
            margin: 30px 0;
        }
    }
}