.hero-consquare {
    display: flex;
    flex-direction: column;
    align-items: center;

    // font-weight: bold;
    font-family: OldLondon;


    &__title {
        font-size: 11rem;
        margin: 2rem 0;

        /* Disable poor font smoothing on firefox macOs */
        -moz-osx-font-smoothing: grayscale;

        /* Background texture */
        background-image: url('../assets/images/consquare/gold_texture.jpg');
        /* Change URL to texture file name */
        background-repeat: repeat;
        background-position: center center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__subtitle {
        font-size: 3rem;
        color: #ababab;
    }

    &__pronunciation {
        font-size: 2.3rem;
        font-family: 'Helvetica', 'Roboto', sans-serif;
    }

}