@use "@styles/variables" as *;

.project {
  width: 100%;
  height: auto;
  padding: 100px 0px;
  box-sizing: border-box;
  font-family: var(--font-rubik);

  @media screen and (min-width: $desktop-size) {
    padding: 150px 70px;
  }

  // first project has no padding
  &:first-child {
    padding-top: 0;
  }
}

.container {
  max-width: $big-size;
  margin: 0 auto;
  height: auto;
  box-sizing: border-box;
  display: flex;

  @media screen and (max-width: $desktop-size) {
    flex-direction: column-reverse;
    padding: 0 50px;
  }

  @media screen and (min-width: $desktop-size) {
    min-height: 65vh;
  }

  @media screen and (max-width: $mobile-size) {
    padding: 0 20px;
  }
}

.imageContainer {
  width: 65%;
  display: flex;
  max-height: 100%;

  & img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }

  @media screen and (max-width: $desktop-size) {
    width: 100%;
    display: block;
  }
}

.description {
  line-height: 2;
  font-size: 1rem;
  margin: 0;

  @media screen and (max-width: $desktop-size) {
    width: 100%;
  }

  @media screen and (max-width: $mobile-size) {
    line-height: 1.7;
  }

  @media screen and (min-width: $big-size) {
    font-size: 1.2rem;
  }
}

.tag {
  background-color: $primary;
  width: fit-content;
  padding: 8px 12px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
  margin: 10px 7px 0 0;
  font-family: var(--font-rubik);

  font-size: 0.8em;

  @media screen and (min-width: $big-size) {
    font-size: 1em;
  }
}

.title {
  font-weight: 500;
  font-size: 3.5rem;

  @media screen and (max-width: $mobile-size) {
    font-size: 3rem;
    margin: 30px 0;
  }
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 16px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.8);
  margin-right: 2rem;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  line-height: 1.5;
  font-weight: 500;
  font-size: 0.8em;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
    background-color: white;
  }

  @media screen and (max-width: $desktop-size) {
    width: fit-content;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $big-size) {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }

  svg {
    margin-right: 10px;
    height: 28px;
    width: auto;
  }
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0 50px 0;
  width: 80%;

  @media screen and (max-width: $desktop-size) {
    width: 100%;
  }

  @media screen and (max-width: $mobile-size) {
    margin: 30px 0;
  }
}

.buttonContainer {
  display: flex;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  padding: 0 50px;

  @media screen and (max-width: $desktop-size) {
    width: 100%;
    padding: 0;
  }
}

.reversed {
  .container {
    flex-direction: row-reverse;

    @media screen and (max-width: $desktop-size) {
      flex-direction: column-reverse;
    }
  }
}

.mazeSolver {
  padding-top: 0;
  padding-bottom: 0;

  .container {
    @media screen and (min-width: $desktop-size) {
      height: 80vh;
    }
  }
}

.consquare {
  background-color: black;
  color: white;
  padding: 0;

  @media screen and (max-width: $mobile-size) {
    padding: 100px 0px;
  }

  .title {
    margin: 2.5rem 0;
    font-weight: normal;
    font-family: OldLondon;

    font-size: 5.5rem;

    @media screen and (max-width: $mobile-size) {
      font-size: 4.5rem;
    }
  }

  .infoContainer {
    @media screen and (min-width: $big-size) {
      margin-left: 200px;
    }
  }

  img {
    @media screen and (min-width: $desktop-size) {
      height: 70%;
    }
  }
}

.consquarePage {
  @media screen and (max-width: $mobile-size) {
    .title {
      display: none;
    }

    .description {
      margin-top: 2.5rem;
    }
  }
}

.innovativeProject {
  color: white;

  @media screen and (max-width: $mobile-size) {
    margin-top: 0;
    padding-top: 0;
  }

  .imageContainer {
    display: flex;
    box-sizing: border-box;
    width: 50%;

    img {
      height: 50%;
    }

    @media screen and (max-width: $desktop-size) {
      padding: 7%;
      width: 100%;
    }
  }

  .infoContainer {
    width: 40%;

    @media screen and (min-width: $big-size) {
      margin-left: 200px;
    }

    @media screen and (max-width: $desktop-size) {
      width: 100%;
      padding: 0;
    }
  }

  .title {
    margin: 2.5rem 0;
    font-weight: normal;
    font-family: OldLondon;

    font-size: 4rem;

    @media screen and (max-width: $mobile-size) {
      font-size: 3rem;
    }
  }
}

.blueOre {
  color: white;

  @media screen and (max-width: $mobile-size) {
    margin-top: 0;
    padding-top: 0;
  }

  .imageContainer {
    width: 50%;

    img {
      height: 50%;
    }

    @media screen and (max-width: $desktop-size) {
      width: 100%;
      display: block;
    }
  }

  .infoContainer {
    width: 40%;

    @media screen and (min-width: $big-size) {
      margin-left: 200px;
    }

    @media screen and (max-width: $desktop-size) {
      width: 100%;
      padding: 0;
    }
  }

  .title {
    margin: 2.5rem 0;
    font-weight: normal;
    font-family: OldLondon;

    font-size: 4rem;

    @media screen and (max-width: $mobile-size) {
      font-size: 3rem;
    }
  }
}

.openBaltica {
  background-color: black;
  color: white;
  padding: 100px 0;

  @media screen and (max-width: $mobile-size) {
    padding: 100px 0px;
  }

  .title {
    margin: 2.5rem 0;
    font-weight: normal;

    font-size: 4rem;

    @media screen and (max-width: $mobile-size) {
      font-size: 4.5rem;
    }
  }

  .infoContainer {
    @media screen and (min-width: $big-size) {
      margin-left: 200px;
    }
  }

  img {
    @media screen and (min-width: $desktop-size) {
      height: 70%;
    }
  }
}
